{% extends 'home_bsm.html' %}

{% load static %}

{% block content%}
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form method="get" action="{% url 'bsm_equipment_search' %}">
            <div class="form-group">
              <label for="country-filter"><h4>Filter by Country:</h4></label>
              <div class="input-group">
                <select name="country" id="country-filter" class="form-control">
                  <option value="" {% if not country_filter %}selected{% endif %}>Please choose a country before searching for a unit</option>
                  <option value="NO" {% if country_filter == 'NO'%}selected{% endif %}>Norway</option>
                  <option value="SE" {% if country_filter == 'SE' %}selected{% endif %}>Sweden</option>
                  <option value="DK" {% if country_filter == 'DK' %}selected{% endif %}>Denmark</option>
                  <option value="FI" {% if country_filter == 'FI' %}selected{% endif %}>Finland</option>
                  <!-- add more options as needed -->
                </select>
                <span class="input-group-btn">
                  <button class="btn btn-primary ml-4 mr-4" type="submit">Filter</button>
                </span>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <form action="{% url 'bsm_equipment_search' %}" method="get">
            <div class="form-group">
              <label for="search-input"><h4>Look up CC Terminals:</h4></label>
              <div class="input-group">
                <input type="text" class="form-control" name="search" id="search-input" placeholder="Search by unit number, city or name...">
                <span class="input-group-btn">
                  <button class="btn btn-primary ml-4 mr-4" type="submit">Search</button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>     
    <div class="container">
      <div class="row">
          <div class="col-md-6">
              <h1 class="mt-4"><b>Weekly</b> CC Terminal Check</h1>
          </div>
          <div class="col-md-6 text-right">
              <form method="post">
                  {% csrf_token %}
              </form>
          </div>
      </div>
      <div class="card-columns" id="equipment-list">
          {% if equipments %}
              {% for item in equipments %}
                  <div class="card mb-2">
                      <div class="card-body">
                          <h5 class="card-title">Bax Number: {{ item.bax_nr }}</h5>
                          <h5 class="card-title">Unit Name/Number: {{ item.name }}</h5>
                          <h5 class="card-title">Terminal ID: {{ item.tid }}</h5>
                          <h5 class="card-title">Terminal Type: {{ item.terminal_type }}</h5>
                          <h5 class="card-title">Location/City: {{ item.city }}</h5>
                          <h5 class="card-title">SW Version: {{ item.version }}</h5>
                          <h5 class="card-title">Last Checked: {{item.last_checked_date}} </h5>
                          <h5 class="card-title">Last User(Username): {{item.last_user}}</h5>
  
                          <!-- Changes -->
                          
                          <a href="{% url 'equipment_changes' equipment_id=item.id %}" target="_blank" onclick="event.preventDefault(); window.open(this.href, '_blank', 'width=600,height=1000');">
                            <button>View Changes</button>
                        </a>
                        
  
                          <a href="{% url 'check_history' %}" target="_blank" onclick="event.preventDefault(); window.open(this.href, '_blank', 'width=600,height=1000');">
                            <button>View History</button>
                          </a>
                        
                      </div>
                  </div>
              {% endfor %}
          {% endif %}
      </div>
  </div>
  {% endblock %}