{% extends 'equipment/home.html' %}

{% block content %}
  <h1>Create a new user</h1>
  <p>
    <b>Username:</b> As a username you can use the location and your first name, example "OSL Kim"<hr>
    <b>Name:</b> Register your full name here.<hr>

    {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}

    <form method="post" action="{% url 'register' %}">
      {% csrf_token %}
      <p>Username and Name:</p>
      <input type="text" name="username" placeholder=" Enter a Username">
      <input type="text" name="name" placeholder="Full name please"> <hr>
      <p>Password:</p>
      <input type="password" name="password1" placeholder=" Enter your Password">
      <input type="password" name="password2" placeholder="Please confirm your Password">
      <hr>
      <b>Country:</b>
      <select id="country-select" name="country"> 
        <option value="">Please choose a country</option>
        <option value="NO">Norway</option>
        <option value="DK">Denmark</option>
        <option value="SE">Sweden</option>
        <option value="FI">Finland</option>
      </select>
      <hr>
      <b>Location:</b> Please select the location:
      <select id="city-select" name="city"></select>
      <hr>
      <button type="submit">Register</button>
    </form>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#country-select').change(function() {
        var country = $(this).val();
        populateLocations(country);
      });
    });

    function populateLocations(country) {
      var locationSelect = $('#city-select');
      locationSelect.empty();

      $.ajax({
        url: '/get_locations/',
        type: 'GET',
        data: { country: country },
        dataType: 'json',
        success: function(response) {
          var city = response.city;
          for (var i = 0; i < city.length; i++) {
            var option = $('<option></option>');
            option.text(city[i]);
            option.val(city[i]);
            locationSelect.append(option);
          }
        }
      });
    }
  </script>
{% endblock %}